
body ul li {
    list-style-type: none;

}

body ul li:hover > a + ul {
    display: block;

}

body ul li a:hover {
    text-decoration: underline;
}

body ul li a {
    text-decoration: none;

}

.subClass {

    margin-left: 30px;
    display: none

}

.subClass a:hover {
    text-decoration: underline;
}